.idea
.python-version
*.ipr
*.imr
*.iws
*.iml
*.sublime-project
*.sublime-workspace

*.swp
*.pyc
*.DS_Store
__pycache__
*.pem
.sass-cache
gunicorn_conf.py
*.cache/
*.coverage
*htmlcov

golden_eye/config/staging.py
golden_eye/config/prod.py
gcp-service-account-key.json

