.row {
    margin-left: -10px;
    overflow: hidden;
}

.panel {
    float: left;
    text-align: center;
    width: 16.666%;
    min-width: 210px;
    margin-bottom: 10px;
}

.childrenBody {
    margin: 10px 10px 0;
}

.panel a {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    color: #333;
}

.breadcrumb-item{
    font-size: 12px;
}

.col {
    padding-left: 10px;
}

.panel_icon {
    width: 40%;
    display: inline-block;
    padding: 22px 0;
    background-color: #54ade8;
    float: left;
}

.panel_word {
    width: 60%;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

.panel_word span {
    font-size: 25px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.panel_box a cite {
    font-size: 16px;
    display: block;
    font-style: normal;
}

.panel_icon i {
    font-size: 3em;
    color: #fff;
}

.panel-icon {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel a:hover .panel_icon i{
    display:inline-block;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}

.panel_icon i{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

.layui-inline {
    margin: 5px 5px 5px 0;
}

.layui-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
    display: none;
}

.layui-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 0;
    padding-right: 0;
    background: 0 0;
}

.layui-form-checkbox {
    position: relative;
    height: 30px;
    line-height: 28px;
    margin-right: 10px;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    font-size: 0;
    border-radius: 2px;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    box-sizing: border-box!important;
}

.layui-form-checkbox, .layui-form-checkbox *, .layui-form-radio,
.layui-form-radio *, .layui-form-switch {
    display: inline-block;
    vertical-align: middle;
}

.news_search {
    padding: 10px 10px;
}

.layui-form-checkbox[lay-skin=primary] span {
    float: right;
    padding-right: 15px;
    line-height: 18px;
    background: 0 0;
    color: #666;
}

.layui-form-checkbox span {
    padding: 0 10px;
    height: 100%;
    font-size: 14px;
    background-color: #d2d2d2;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layui-form-checkbox i {
    position: absolute;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
}

.layui-btn:hover{
    opacity:.8;
    filter:alpha(opacity=80);
    color:#fff;
    text-decoration: none;
}

.layui-btn:active{
    opacity:1;
    filter:alpha(opacity=100);
}

.layui-btn-danger {
    background-color: #FF5722;
    color: #fff;
}

.layui-form-mid {
    float: left;
    display: block;
    padding: 8px 0;
    margin-right: 10px;
}

.layui-form-label, .layui-form-mid, .layui-textarea {
    line-height: 20px;
    position: relative;
}

.layui-word-aux {
    font-size: 12px;
    color: #999;
    padding: 0 5px;
}

#Images li {
    width: 19%;
    margin: 0.5% 0.5%;
    float: left;
    overflow: hidden;
}

#Images li img {
    width: 100%;
    height: 100%;
}

img {
    display: inline-block;
    border: none;
}

#Images li .operate {
    display: block;
    height: 40px;
    width: 100%;
    background: #f4f5f9;
}

#Images li .operate .check {
    float: left;
    margin-left: 11px;
    height: 18px;
    padding: 11px 0;
}

.layui-form input[type=checkbox], .layui-form input[type=radio],
.layui-form select {
    display: none;
}

button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

.modal-dialog, .modal-lg{
    max-width: 1600px;
}

.fa-trash-o {
    float: right;
    line-height: 18px;
    margin: 16px 11px 0 0;
    font-size: 22px;
    cursor: pointer;
}

.layui-input-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.layui-input, .layui-textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
    font-size: 12px;
}

.layui-input, .layui-select, .layui-textarea {
    height: 38px;
    line-height: 36px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}

.sorting{
    cursor: pointer;
}

.sorting:after, .sorting:before{
    cursor: pointer;
    position: relative;
    opacity: 0.3;
    float: right;
    font-size: 16px;
}

.layui-btn-normal {
    background-color: #1E9FFF;
}

.newsAdd_btn, .search_btn, .recommend, .audit_btn, .batchDel{
    color: white;
}

.layui-table th, .layui-table tr {
    text-align: center;
}

.layui-table {
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.layui-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 0;
    padding-right: 0;
    background: 0 0;
}

.layui-form-checkbox[lay-skin=primary] i {
    position: relative;
    top: 0;
    width: 16px;
    line-height: 16px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.layui-table tr:hover, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #f8f8f8;
}

layui-table td, .layui-table th {
    word-break: break-all;
}

.layui-table td, .layui-table th {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
}

.layui-table thead tr {
    background-color: #f2f2f2;
}

.layui-form-checked[lay-skin=primary] div {
    border-color: #5FB878;
    background-color: #5FB878;
    color: #fff;
}

.checkbox-icon{
    position: relative;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .3s linear;
}

.page-size{
    padding-top:4px;
    float: right;
}

tbody tr{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.table-footer{
    font-size: 14px;
    padding-top: 0.5em;
}

.page_bar{
    float: right;
}

.page-item{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
}

.page-item a{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
}

.layui-form-switch {
    position: relative;
    height: 24px;
    line-height: 22px;
    width: 52px;
    padding: 0 5px;
    margin-top: 8px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.layui-form-switch em {
    position: absolute;
    right: 5px;
    top: 0;
    width: 25px;
    padding: 0!important;
    text-align: center!important;
    color: #999!important;
    font-style: normal!important;
    font-size: 12px;
}

.layui-form-switch i {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #d2d2d2;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.layui-form-onswitch {
    border-color: #5FB878;
    background-color: #5FB878;
}

.layui-form-onswitch i {
    left: 32px;
    background-color: #fff;
}

.layui-form-onswitch em {
    left: 5px;
    right: auto;
    color: #fff!important;
}

.news_content td img{
    height: 24px;
    width: 48px;
}

.cover_name a, .cover_name a:hover{
    color: #212529;
    text-decoration: none;
}

td div.modal-dialog, td div.modal-lg{
    max-width: 1300px;
}


#screenshot {
    position:absolute;
    padding:5px;
    display:none;
    color:#fff;
}

.layui-table .layui-btn, .layui-table .layui-btn+.layui-btn {
    margin: 2px 5px;
}

.layui-btn-mini {
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
}

.layui-btn-mini span{
    color: white;
}

.layui-btn-mini i {
    font-size: 14px!important;
    padding-right: 1px;
    color: white;
}

.layui-form{
    margin: 10px 10px 0;
}

.layui-form-item {
    margin-bottom: 15px;
    clear: both;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    text-align: right;
    font-size: 13px;
    width: 100px;
}

.layui-form-label, .layui-form-mid, .layui-textarea {
    line-height: 20px;
    position: relative;
}

.layui-input-block {
    margin-left: 110px;
    min-height: 36px;
}

.layui-input-block, .layui-input-inline {
    position: relative;
}

.layui-input, .layui-select, .layui-textarea {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}

.layui-form-item .layui-form-checkbox {
    margin-top: 4px;
}

.layui-form-checkbox span {
    padding: 0 10px;
    height: 100%;
    font-size: 14px;
    background-color: #d2d2d2;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layui-form-item .layui-inline {
    margin-bottom: 5px;
    margin-right: 10px;
}

.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
    display: none;
}

.layui-form-select .layui-edge {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.layui-edge {
    position: absolute;
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.layui-form-select dl {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}

.layui-anim-upbit {
    -webkit-animation-name: layui-upbit;
    animation-name: layui-upbit;
}

.layui-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.layui-form-select dl dd.layui-this {
    background-color: #5FB878;
    color: #fff;
}

.layui-form-select dl dd {
    cursor: pointer;
}

.layui-form-select dl dd, .layui-form-select dl dt {
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layui-btn+.layui-btn {
    margin-left: 15px;
}

.layui-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}

.save_as_draft:hover{
    color: #555;
    border-color: #009688;
}

.editor-preview-active img{
    width: 500px;
    height: 240px;
}


.editor-toolbar.fullscreen, .CodeMirror-fullscreen{
    z-index: 9999;
}

