/*!
 * Date: 2017.12.15
 * filename: dashboard.css
 * Author: heshipeng
 */


#menuAccordion{
	border-right: 1px solid #eee;
    background-color: #393d49;
}

.user-avatar-sm img{
    width:35px;
    height:35px;
}

.user-avatar-sm {
	background: #343A40;
}

.user-text-sm{
	font-size: 12px;
	color: #ffffff;
}

.user-avatar{
    border: 4px solid #44576b;
    width: 86px;
    height: 86px;
}

.nav-item a{
	text-align: left;
}

.bg-dark-less{
	background-color: #23262e;
}

.navbar-brand:hover, .user-text-sm:hover{
    color: #77776b;
}

.nav-link:hover{
    color: #ffffff;
}

.first-menu:hover{
    border-left: 4px solid #009688;
    background-color: #4e5465;
}

.navbar-brand, .nav-link{
    color: #fff;
}

.control-box a{
	font-size: 14px;
}

.fa{
	padding-right: 10px;
}

#menuAccordion a, #menuAccordion>li>span {
    font-size: 12px;
}

.sidenav-second-level li:hover{
    background-color: #4f5465;
}

.sidenav-second-level li a{
	color: #ffffff;
}

.user-text {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
}

.user-name{
    font-size: 10px;
}

.removed-item {
    -webkit-animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
    -o-animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards
}

@keyframes removed-item-animation {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@-webkit-keyframes removed-item-animation {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@-o-keyframes removed-item-animation {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

ul{
    padding: 0;
}

.row {
    margin-left: -10px;
    overflow: hidden;
}

.panel {
    float: left;
    text-align: center;
    width: 16.666%;
    min-width: 210px;
    margin-bottom: 10px;
}

.childrenBody {
    margin: 10px 10px 0;
}

.panel_box a {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    color: #333;
}

.breadcrumb-item{
    font-size: 12px;
}

.col {
    padding-left: 10px;
}

.panel_icon {
    width: 40%;
    display: inline-block;
    padding: 22px 0;
    background-color: #54ade8;
    float: left;
}

.panel_word {
    width: 60%;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

.panel_word span {
    font-size: 25px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.panel_box a cite {
    font-size: 16px;
    display: block;
    font-style: normal;
}

.panel_icon i {
    font-size: 3em;
    color: #fff;
}

.panel-icon {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel a:hover .panel_icon i{
    display:inline-block;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}

.panel_icon i{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

@media screen and (max-width:1282px){
	.panel{width:33.3333%;}
}

.dashboard-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

.dashboard-inline {
    margin: 5px 5px 5px 0;
}

.dashboard-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dashboard-form input[type=checkbox], .dashboard-form input[type=radio], .dashboard-form select {
    display: none;
}

.dashboard-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 0;
    padding-right: 0;
    background: 0 0;
}

.dashboard-form-checkbox {
    position: relative;
    height: 30px;
    line-height: 28px;
    margin-right: 10px;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    font-size: 0;
    border-radius: 2px;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    box-sizing: border-box!important;
}

.dashboard-form-checkbox, .dashboard-form-checkbox *, .dashboard-form-radio,
.dashboard-form-radio *, .dashboard-form-switch {
    display: inline-block;
    vertical-align: middle;
}

.news_search {
    padding: 10px 10px;
}

.dashboard-form-checkbox[lay-skin=primary] span {
    float: right;
    padding-right: 15px;
    line-height: 18px;
    background: 0 0;
    color: #666;
}

.dashboard-form-checkbox span {
    padding: 0 10px;
    height: 100%;
    font-size: 14px;
    background-color: #d2d2d2;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard-form-checkbox i {
    position: absolute;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.dashboard-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
}

.dashboard-btn:hover{
    opacity:.8;
    filter:alpha(opacity=80);
    color:#fff;
    text-decoration: none;
}

.dashboard-btn:active{
    opacity:1;
    filter:alpha(opacity=100);
}

.dashboard-btn-danger {
    background-color: #FF5722;
    color: #fff;
}

.dashboard-form-mid {
    float: left;
    display: block;
    padding: 8px 0;
    margin-right: 10px;
}

.dashboard-form-label, .dashboard-form-mid, .dashboard-textarea {
    line-height: 20px;
    position: relative;
}

.dashboard-word-aux {
    font-size: 12px;
    color: #999;
    padding: 0 5px;
}


#Images li {
    width: 19%;
    margin: 0.5% 0.5%;
    float: left;
    overflow: hidden;
}

#Images li img {
    width: 100%;
    height: 100%;
}

img {
    display: inline-block;
    border: none;
}

#Images li .operate {
    display: block;
    height: 40px;
    width: 100%;
    background: #f4f5f9;
}

#Images li .operate .check {
    float: left;
    margin-left: 11px;
    height: 18px;
    padding: 11px 0;
}

.dashboard-form input[type=checkbox], .dashboard-form input[type=radio],
.dashboard-form select {
    display: none;
}

button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

.modal-dialog, .modal-lg{
    max-width: 1600px;
    height: 900px;
}

@media screen and (max-width:1440px){
	.modal-dialog, .modal-lg{
        max-width: 1200px;
        height: 700px;
    }
}

.fa-trash-o {
    float: right;
    line-height: 18px;
    margin: 16px 11px 0 0;
    font-size: 22px;
    cursor: pointer;
}

.dashboard-input-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.dashboard-input, .dashboard-textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
    font-size: 12px;
}

.dashboard-input, .dashboard-select, .dashboard-textarea {
    height: 38px;
    line-height: 36px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}

.sorting{
    cursor: pointer;
}

.sorting:after, .sorting:before{
    cursor: pointer;
    position: relative;
    opacity: 0.3;
    float: right;
    font-size: 16px;
}

.dashboard-btn-normal {
    background-color: #1E9FFF;
}

.newsAdd_btn, .search_btn, .recommend, .audit_btn, .batchDel{
    color: white;
}

.dashboard-table th, .dashboard-table tr {
    text-align: center;
}

.dashboard-table {
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.dashboard-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 0;
    padding-right: 0;
    background: 0 0;
}

.dashboard-form-checkbox[lay-skin=primary] i {
    position: relative;
    top: 0;
    width: 16px;
    line-height: 16px;
    border: 1px solid #d2d2d2;!important;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;!important;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.dashboard-table tr:hover, .dashboard-table[lay-even] tr:nth-child(even) {
    background-color: #f8f8f8;
}

dashboard-table td, .dashboard-table th {
    word-break: break-all;
}

.dashboard-table td, .dashboard-table th {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
}

.dashboard-table thead tr {
    background-color: #f2f2f2;
}

.dashboard-form-checked[lay-skin=primary] div {
    border-color: #5FB878;
    background-color: #5FB878;
    color: #fff;
}

.checkbox-icon{
    position: relative;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .3s linear;
}

.dashboard-icon{
    position: relative;
    top: 0;
    width: 16px;
    line-height: 16px;
    border: 1px solid #d2d2d2;!important;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;!important;
    color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.dashboard-icon-checked{
    background-color: #5FB878;
    color: #5FB878;
    border-color: #5FB878;
}

.page-size{
    padding-top:4px;
    float: right;
}

tbody tr{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.table-footer{
    font-size: 14px;
    padding-top: 0.5em;
}

.page_bar{
    float: right;
}

.page-item{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
}

.page-item a{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
}

.dashboard-form-switch {
    position: relative;
    height: 24px;
    line-height: 22px;
    width: 52px;
    padding: 0 5px;
    margin-top: 8px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.dashboard-form-switch em {
    position: absolute;
    right: 5px;
    top: 0;
    width: 25px;
    padding: 0!important;
    text-align: center!important;
    color: #999!important;
    font-style: normal!important;
    font-size: 12px;
}

.dashboard-form-switch i {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #d2d2d2;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.dashboard-form-onswitch {
    border-color: #5FB878;
    background-color: #5FB878;
}

.dashboard-form-onswitch i {
    left: 32px;
    background-color: #fff;
}

.dashboard-form-onswitch em {
    left: 5px;
    right: auto;
    color: #fff!important;
}

.news_content td img{
    height: 24px;
    width: 48px;
}

.cover_name a, .cover_name a:hover{
    color: #212529;
    text-decoration: none;
}

td div.modal-dialog, td div.modal-lg{
    max-width: 1300px;
}


#screenshot {
    position:absolute;
    padding:5px;
    display:none;
    color:#fff;
}

.dashboard-table .dashboard-btn, .dashboard-table .dashboard-btn+.dashboard-btn {
    margin: 2px 5px;
}

.dashboard-btn-mini {
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
}

.dashboard-btn-mini span{
    color: white;
}

.dashboard-btn-mini i {
    font-size: 14px!important;
    padding-right: 1px;
    color: white;
}

.dashboard-form{
    margin: 10px 10px 0;
}

.dashboard-form-item {
    margin-bottom: 15px;
    clear: both;
}

.dashboard-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    text-align: right;
    font-size: 13px;
    width: 100px;
}

.dashboard-form-label, .dashboard-form-mid, .dashboard-textarea {
    line-height: 20px;
    position: relative;
}

.dashboard-input-block {
    margin-left: 110px;
    min-height: 36px;
}

.dashboard-input-block, .dashboard-input-inline {
    position: relative;
}

.dashboard-input, .dashboard-select, .dashboard-textarea {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}

.dashboard-form-item .dashboard-form-checkbox {
    margin-top: 4px;
}

.dashboard-form-checkbox span {
    padding: 0 10px;
    height: 100%;
    font-size: 14px;
    background-color: #d2d2d2;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard-form-item .dashboard-inline {
    margin-bottom: 5px;
    margin-right: 10px;
}

.dashboard-form input[type=checkbox], .dashboard-form input[type=radio], .dashboard-form select {
    display: none;
}

.dashboard-form-select .dashboard-edge {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.dashboard-edge {
    position: absolute;
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.dashboard-form-select dl {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}

.dashboard-anim-upbit {
    -webkit-animation-name: dashboard-upbit;
    animation-name: dashboard-upbit;
}

.dashboard-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dashboard-form-select dl dd.dashboard-this {
    background-color: #5FB878;
    color: #fff;
}

.dashboard-form-select dl dd {
    cursor: pointer;
}

.dashboard-form-select dl dd, .dashboard-form-select dl dt {
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-btn+.dashboard-btn {
    margin-left: 15px;
}

.dashboard-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}

.save_as_draft:hover{
    color: #555;
    border-color: #009688;
}

.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.editor-preview-side{
    z-index: 9999;
}

.make_top, .make_public{
    background-color: #5FB878;
}

.make_top_checked span, .make_public_checked span{
    background-color: #d2d2d0;
}

.make_top_checked, .make_public_checked{
    background-color: #d2d2d0;
}

.make_top_checked span, .make_public_checked span{
    background-color: #5FB878;
}


.tagbtn a {
    color: #333333;
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    padding: 0 10px 0 5px;
    white-space: nowrap;
}

.default-tag a, .default-tag a span, .plus-tag a, .plus-tag a em, .plus-tag-add a{
    background: url(/static/images/tagbg.png) no-repeat;
}

.plus-tag a {
    background-position: 100% -26px;
}

.plus-tag a span {
    float: left;
}

.plus-tag a em {
    display: block;
    float: left;
    margin: 5px 0 0 8px;
    width: 13px;
    height: 13px;
    overflow: hidden;
    background-position: -165px -99px;
    cursor: pointer;
}

.image_name{
    float: left;
    display: block;
    font-weight: 400;
    text-align: right;
    font-size: 13px;
    padding-bottom: 10px;
}

.image_url{
    color: #2F4056;
    text-decoration: none;
}

.image_url:hover{
    color: #2F4056;
    text-decoration: none;
}

.upload-cover-title{
    font-size: 14px;
    margin-top: 10px;
    float: right;
    color: #666;
}