<nav class="navbar navbar-expand-lg bg-dark-less fixed-top" id="mainNav">
<a class="navbar-brand" href="/dashboard">Dashboard</a>
<button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav navbar-sidenav" id="menuAccordion">

    <li class="nav-item user-span" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <span class="nav-link" href="index.html">

         <center><img class="card-img-top rounded-circle user-avatar mx-auto"
                      src="/static/images/face.jpg" alt="Card image cap" />
          </center>
         <p class="card-text user-text">你好！<span class="user-name">请叫我马aaa哥</span>, 欢迎登录</p>
      </span>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a class="nav-link first-menu" href="index.html">
        <i class="fa fa-fw fa-dashboard"></i>
        <span class="nav-link-text">首页</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
      <a class="nav-link first-menu" href="charts.html">
        <i class="fa fa-fw fa-area-chart"></i>
        <span class="nav-link-text">文章置顶管理</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
      <a class="nav-link first-menu" href="tables.html">
        <i class="fa fa-fw fa-table"></i>
        <span class="nav-link-text">文章收藏管理</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
      <a class="nav-link collapsed first-menu" data-toggle="collapse" href="#collapseComponents"
         data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-wrench"></i>
        <span class="nav-link-text">文章管理</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseComponents">
        <li>
          <a href="#" class="article_list">文章列表</a>
        </li>
        <li>
          <a href="#" class="add_article">写文章</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
      <a class="nav-link collapsed first-menu" data-toggle="collapse" href="#collapseExamplePages"
         data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-file"></i>
        <span class="nav-link-text">封面管理</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseExamplePages">
        <li>
          <a href="login.html">封面列表</a>
        </li>
        <li>
          <a href="register.html">新增封面</a>
        </li>
        <li>
          <a href="forgot-password.html">Forgot Password Page</a>
        </li>
        <li>
          <a href="blank.html">Blank Page</a>
        </li>
      </ul>
    </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
      <a class="nav-link first-menu" href="charts.html">
        <i class="fa fa-fw fa-area-chart"></i>
        <span class="nav-link-text">草稿箱</span>
      </a>
    </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
      <a class="nav-link first-menu" href="charts.html">
        <i class="fa fa-fw fa-area-chart"></i>
        <span class="nav-link-text">分类管理</span>
      </a>
    </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
      <a class="nav-link first-menu" href="charts.html">
        <i class="fa fa-fw fa-tags" aria-hidden="true"></i>
        <span class="nav-link-text">标签管理</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        <i class="fa fa-fw fa-angle-left"></i>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
     <li class="nav-item">
      <div class="user-avatar-sm  border-0">
        <img class="rounded-circle" src="/static/images/face.jpg">
      </div>
    </li>
    <li class="nav-item dropdown">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="user-text-sm">请叫我马aaaa哥</span>
        </a>
        <div class="dropdown-menu control-box" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
                <i class="fa fa-user" aria-hidden="true"></i>个人资料
            </a>
            <a class="dropdown-item" href="#">
                <i class="fa fa-cog" aria-hidden="true"></i>修改密码
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <i class="fa fa-sign-out" aria-hidden="true"></i>退出
            </a>
        </div>
      </div>
    </li>
  </ul>
</div>
</nav>